@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

:root {
    --font__primary: "Playwrite DE Grund", cursive;
    --font__secondary: "Playwrite GB J", cursive;

    --color__white: #f7f7f7;
    --color__black: #0a0a0a;
    --color__grey: #ddd;
    --color__alt-white: #f9f9f9;
    --color__yellow: #f7e7d4;
    --color__orange: #dfa053;
    --color__todo: #ffebee;
    --color__progress: #e3f2fd;
    --color__complete: #e8f5e9;

    --box-shadow: rgba(0, 0, 0, 0.25);
}    

/* General Styles */
* {
    box-sizing: border-box;
}
body {
    font-family: var(--font__primary);
    background-color: var(--color__white);
    margin: 0;
    padding: 0;
}
h1 {
    font-family: var(--font__secondary);
    text-align: center;
}
h3 {
    font-family: var(--font__secondary);
    color: var(--color__black);
    font-size: 18px;
}
a,
a:hover,
a:active,
a:focus {
    color: var(--color__black);
    text-decoration-color: var(--color__orange);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
nav{
    background-color: var(--color__yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav > a {
    color: var(--color__black);
    text-decoration: none;
    padding: 2px 12px;
}
nav > a:hover,
nav > a:active,
nav > a:focus,
.active {
    color: var(--color__black);
    background-color: var(--color__grey);
    border-radius: 4px;
}


/* Board Styles */

/* Task Board Container */
.task-board-container {
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap */
    gap: 10px; /* Space between columns */
    justify-content: space-between; /* Space between columns */
}
.board {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
    min-width: 100%;
}

.column {
    flex: 1;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow:0 0 10px var(--box-shadow);
    min-height: 400px;
    min-width: 28%;
    transition: background-color 0.3s ease;
}

.column h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color__grey);
    font-size: 20px;
}

/* Column-Specific Styling */
.todo-column {
    background-color: var(--color__todo);
}

.in-progress-column {
    background-color: var(--color__progress);
}

.complete-column {
    background-color: var(--color__complete);
}

.column:hover {
    background-color: var(--color__alt-white);
}


/* Task Box Styles */
.task-box {
    display: flex; 
    flex-direction: column; 
    position: relative;
    background-color: var(--color__white);
    border: 1px solid var(--color__grey);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    cursor: grab;
    box-shadow: 0 1px 2px var(--box-shadow);
    transition: background-color 0.5s ease;
}

.task-box.dragging {
    background-color: var(--color__white);
    opacity: 0.8;
}

/* Drag-and-Drop Styles */
.column {
    border: 2px dashed transparent; /* Clear border until dragging */
}

.column.dragging-over {
    border: 2px dashed #666; /* Highlight when dragging over */
}

.column .task-box.dragging {
    opacity: 0.5; /* Make dragged task box semi-transparent */
}

/* Form Styling */
form {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--color__alt-white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--box-shadow);
}

input[type="text"], input[type="date"], input[type="password"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--color__grey);
    border-radius: 5px;
}

button[type="submit"] {
    background-color: var(--color__yellow);
    box-shadow: 0 0 10px var(--box-shadow);
    color: var(--color__black);
    padding: 10px 15px;
    border: 1px solid var(--color__grey);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--color__orange);
}

/* Archive Checkbox */
input[type="checkbox"] {
    margin-right: 10px;
}

/* Edit Button */
.edit-button {
    position: absolute; /* Position the link absolutely within the task box */
    top: 10px;         /* Distance from the top */
    right: 10px;       /* Distance from the right */
    background: none;  /* No background */
    border: none;      /* No border */
    cursor: pointer;   /* Pointer cursor on hover */
    font-size: 24px;   /* Font size for the button */
    color: var(--color__orange);    /* Change color for visibility */
    text-decoration: none; /* Remove underline */
}

.edit-button:hover {
    color: var(--color__orange);    /* Darker shade on hover */
}

/* Archive page styling */

.archive-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.responsive-table>li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    margin-bottom: 25px;
}

.responsive-table>.table-header {
    background-color: var(--color__grey);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table>.table-row {
    background-color: var(--color__white);
    box-shadow: 0px 0px 9px 0px var(--box-shadow);
}

.archive-container > P {
    text-align: center;
}

.col-1 {
    flex-basis: 30%;
}

.col-2 {
    flex-basis: 20%;
}

.col-3 {
    flex-basis: 20%;
}
.col-4,
.col-5 {
    flex-basis: 15%;
    text-align: center;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .board {
        flex-direction: column;
    }

    .column {
        margin-bottom: 20px; /* Space between columns on small screens */
    }
}

@media (max-width: 600px) {
    .column {
        max-width: 100%; /* Full width on small screens */
    }

    .edit-button {
        font-size: 14px; /* Adjust button size for smaller screens */
    }
}
