{% extends 'base.html' %}
{% load static %}
{% block title %}Archived Tasks{% endblock %}
{% block page_title %}Archived Tasks{% endblock %}

{% block content %}

<div class="archive-container">
    {% if archived_tasks %}

        <ul class="responsive-table">
            <li class="table-header">
            <div class="col col-1">Task</div>
            <div class="col col-2">Due Date</div>
            <div class="col col-3">Category</div>
            <div class="col col-4">Status</div>
            <div class="col col-5">Archived</div>
            </li>
            {% for task in archived_tasks %}
            <li class="table-row">
            <div class="col col-1" data-label="Task">{{ task.title }}</div>
            <div class="col col-2" data-label="Due Date">{{ task.due_date }}</div>
            <div class="col col-3" data-label="Category">{{ task.get_category_display }}</div>
            <div class="col col-4" data-label="Status">Pending</div>
            <!-- Unarchive Button -->
            <div data-label="Archived" class="col col-5">
                <input type="checkbox" class="unarchive-checkbox" data-task-id="{{ task.id }}" {% if task.archive %}checked{% endif %}>
            </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No archived tasks found.</p>
    {% endif %}
</div>
<script src="{% static 'js/archive.js' %}"></script>
{% endblock %}
