{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}To-Do List{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Task Management Board</h1>
        <nav>
            <a href="{% url 'task_board' %}">Home</a>
            <a href="{% url 'archived_tasks' %}">Archived Tasks</a>
            <a href="{% url 'create_task' %}">Create Task</a>
            <a href="{% url 'account_logout' %}">Logout</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
